<navigation></navigation>



<div class="container">

  <div class="row">
    <div class="col-md-6">
      <h1>Register</h1>
      <p class="lead">Already a member? Please <a href="login">log in</a> instead.</p>
      <form id="registerform" ng-submit="registerform.$valid && vm.onSubmit()" novalidate="novalidate" name="registerform">
        <div class="form-group">
          <label for="name">Full name</label>
          <span><input type="text" class="form-control" required id="name" placeholder="Enter your name" ng-model="vm.credentials.name" name="name"></span>
        </div>
        <div class="form-group">
          <label for="email">Email address</label>
          <span><input type="email" class="form-control" required id="email" placeholder="Enter email" ng-model="vm.credentials.email" name="email">
          </span>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <span><input type="password" class="form-control" id="password" required placeholder="Password" ng-model="vm.credentials.password" name="password">
          </span>
        </div>
        <button type="submit" class="btn btn-default" name="submit" required  ng-disabled="loginform.$invalid" id="submit">Register!</button>
      </form>
    </div>
  </div>
</div>

<div id="password_info">

    <h4>Password must meet the following requirements:</h4>
    <ul>
      <li id="letter" class="invalid">At least <strong>one letter</strong></li>
      <li id="capital" class="invalid">At least <strong>one capital letter</strong></li>
      <li id="number" class="invalid">At least <strong>one number</strong></li>
      <li id="length" class="invalid">Be at least <strong>8 characters</strong></li>
    </ul>
</div>


<style>

body {
    background:#edf1f4 url('img/bg.jpg');
    font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans serif;
    font-size:16px;
    color:#444;
}
ul, li {
    margin:0;
    padding:0;
    list-style-type:none;
}

#container {
    width:400px;
    padding:0px;
    background:#fefefe;
    margin:0 auto;
    border:1px solid #c4cddb;
    border-top-color:#d3dbde;
    border-bottom-color:#bfc9dc;
    box-shadow:0 1px 1px #ccc;
    border-radius:5px;
    position:relative;
}
h1 {
    margin:0;
    padding:10px 0;
    font-size:24px;
    text-align:center;
    background:#eff4f7;
    border-bottom:1px solid #dde0e7;
    box-shadow:0 -1px 0 #fff inset;
    border-radius:5px 5px 0 0; /* otherwise we get some uncut corners with container div */
    text-shadow:1px 1px 0 #fff;
}

form ul li {
    margin:10px 20px;

}
form ul li:last-child {
    text-align:center;
    margin:20px 0 25px 0;
}    

input {
    padding:10px 10px;
    border:1px solid #d5d9da;
    border-radius:5px;
    box-shadow: 0 0 5px #e8e9eb inset;
    width:328px; /* 400 (#container) - 40 (li margins) -  10 (span paddings) - 20 (input paddings) - 2 (input borders) */
    font-size:1em;
    outline:0; /* remove webkit focus styles */
}
input:focus {
    border:1px solid #b9d4e9;
    border-top-color:#b6d5ea;
    border-bottom-color:#b8d4ea;
    box-shadow:0 0 5px #b9d4e9;
}    


label {
    color:#555;
}
#container span {
    background:#f6f6f6;
    padding:3px 5px;
    display:block;
    border-radius:5px;
    margin-top:5px;
}

#password_info {
    position:absolute;
    bottom:155px;
    left: 400px;
    width:250px;
    padding:15px;
    background:#fefefe;
    font-size:.875em;
    border-radius:5px;
    box-shadow:0 1px 3px #ccc;
    border:1px solid #ddd;
}

#password_info h4 {
    margin:0 0 10px 0;
    padding:0;
    font-weight:normal;
}

#password_info::before {
    content: "\25B2";
    position:absolute;
    top:-12px;
    left:45%;
    font-size:14px;
    line-height:14px;
    color:#ddd;
    text-shadow:none;
    display:block;
}

.invalid {
    padding-left:22px;
    line-height:24px;
    color:#ec3f41;
}
.valid {
    padding-left:22px;
    line-height:24px;
    color:#3a7d34;
}

#password_info {
    display:none;
}
</style>