<navigation></navigation>
<div class="container">

	<div class="row" style="background-color: white;border-radius: 25px;border: 2px solid #73AD21; padding: 20px; ">

		<a href="login">Logout</a>
		<h2>Rooms Availability</h2> 
		<h4><a href="profile">Go to your profile</a></h4>

		<p class='pull-right'>Search:  <input type='text' ng-model='filter_name' placeholder='search name...' /></p>
		<table class='table table-striped'>
			<tr>
				<th>Preview</th>
				<th>Name</th>
				<th>Type</th>
				<th>Guests Allowed</th>
				<th>No of Beds</th>
				<th hidden>Booked</th>
				<th>Cost</th>
				<th>City</th>
				<th>Make a booking</th>

			</tr>
			<tr ng-repeat='room in vm.rooms | startFrom:vm.currentPage*vm.pageSize | limitTo:vm.pageSize | filter: filter_name'>
				<td><img src="img/icon.jpg" width="90px" height="70px"></td>
				<td ng-bind='room.name'></td>
				<td ng-bind='room.type'></td>
				<td ng-bind='room.guests'></td>
				<td ng-bind='room.beds'></td>
				<td ng-bind='room.booked' hidden></td>
				<td ng-bind='room.cost'></td>
				<td ng-bind='room.city'></td>
				<td><button ng-click="vm.book(room)">Book</button></td>
			</tr>
		</table>
		<div class="Button" align="center">
			<button ng-disabled="vm.currentPage == 0" ng-click="vm.currentPage=vm.currentPage-1">
				Previous
			</button>
			{{vm.currentPage+1}}/{{vm.numberOfPages()}}
			<button ng-disabled="vm.currentPage >= vm.rooms.length/vm.pageSize - 1" ng-click="vm.currentPage=vm.currentPage+1">
				Next
			</button>
		</div>
	</div>

</div>
<style type="text/css">
  body {
    background:#edf1f4 url('img/rooms.jpg');
    font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans serif;
    font-size:16px;
    color:#444;
  }
</style>