<navigation></navigation>
<div class="container">

	<div class="row">

		<h2>Rooms Availability</h2> 
		<h4><button>View Favorites</button></h4>

		<p class='pull-right'>Search:  <input type='text' ng-model='filter_name' placeholder='search name...' /></p>
		<table class='table table-striped'>
			<tr>
				<th>Name</th>
				<th>Type</th>
				<th>Guests Allowed</th>
				<th>No of Beds</th>
				<th>Booked</th>
				<th>Add to Favourites</th>
				<th>Make a booking</th>
			</tr>
			<tr ng-repeat='room in vm.rooms | startFrom:vm.currentPage*vm.pageSize | limitTo:vm.pageSize | filter: filter_name'>
				<td ng-bind='room.name'></td>
				<td ng-bind='room.type'></td>
				<td ng-bind='room.guests'></td>
				<td ng-bind='room.beds'></td>
				<td ng-bind='room.booked'></td>
				<td><button>Favs</button></td>
				<td><button>Book</button></td>
			</tr>
		</table>
		<div class="Button" align="center">
			<button ng-disabled="vm.currentPage == 0" ng-click="vm.currentPage=vm.currentPage-1">
				Previous
			</button>
			{{vm.currentPage+1}}/{{vm.numberOfPages()}}
			<button ng-disabled="vm.currentPage >= vm.rooms.length/vm.pageSize - 1" ng-click="vm.currentPage=vm.currentPage+1">
				Next
			</button>
		</div>
	</div>

</div>
